body {
    font-family: Arial black,sans-serif;
    font-size: 0.9em;

}

div#header, div#footer {
    padding: 6px;
    color: white;
    background-color: red;
}

div#content {
    margin: 4px;
    padding: 8px;
    background-color: lightgrey;
    align: "center"
}

div.article {
    margin: 4px;
    padding: 8px;
}

div.picture {
    margin: 4px;
    padding: 8px;
}

ul {list-style-type: none;
		overflow: hidden;
		background: linear-gradient(90deg, rgb(225,225,225,0)0%, rgba(225,225,225,0.2)25%, rgba(225,225,225,0.2)75%,rgba(225,225,225,0.2)100%);
	  box-shadow: 0 0 25px rgba(0,0,0,0.1), inset 0 0 1px rgba(225,225,225,0.6);}

li {float: left;
	margin-right: 2px;
	padding-right: 26px;}

li:first-child {padding-left: 30px;}

li:last-child {border-right: none;}


li a {display: block;
	  font-family: Arial black;
	  color: #ff0000;
	  text-align: center;
	  padding: 5px 5px;
    text-decoration: none;}

li a:hover {box-shadow: 0 0 10px rgba(0,0,0,0.1),inset 0 0 1px rgba(225,255,225,0.6);
			background: rgba(225,225,225,0.1);
			color: #000;}

div#menu ul {
    padding: 0;
}

div#menu ul li {
    display: inline;
    margin: 4px;
}

.set{
  height: 350px;
  width: 350px;
}

.form{
  max-width: 500px;
  float: none;
  margin: 150px auto;
  background-color: rgba(211, 211, 211, 0.5);
  padding: 30px;
}

.form1{
  max-width: 500px;
  float: none;
  margin: 150px auto;
  background-color: rgba(211, 211, 211, 0.2);
  padding: 30px;
}
